<!--Grid List-->

<!--<mat-grid-list cols="4">-->
<!--  <mat-grid-tile colspan="3">tile 1</mat-grid-tile>-->
<!--  <mat-grid-tile>tile 2</mat-grid-tile>-->
<!--  <mat-grid-tile rowspan="2">tile 3</mat-grid-tile>-->
<!--  <mat-grid-tile>tile 4</mat-grid-tile>-->
<!--  <mat-grid-tile>tile 5</mat-grid-tile>-->
<!--  <mat-grid-tile>tile 6</mat-grid-tile>-->
<!--  <mat-grid-tile>tile 7</mat-grid-tile>-->
<!--  <mat-grid-tile>tile 8</mat-grid-tile>-->
<!--</mat-grid-list>-->

<!--  *******************************************************************************   -->
<mat-grid-list cols="2" rowHeight="100px" gutterSize="10px">
  <mat-grid-tile>tile 1</mat-grid-tile>
  <mat-grid-tile>tile 2</mat-grid-tile>
  <mat-grid-tile>tile 3</mat-grid-tile>
  <mat-grid-tile>tile 4</mat-grid-tile>
</mat-grid-list>

<!--GutterSize-->
<!--this is used for spacing btw the grid box-->

<!--Row Height is used for sizing of box-->
