<mat-list dense>
  <mat-list-item>Heading 1</mat-list-item>
  <mat-list-item>Heading 1</mat-list-item>
  <mat-list-item>Heading 1</mat-list-item>
</mat-list>
<!--dense will reduce the size of list item-->

<!--Navigation List Item-->
<mat-nav-list>
  <a mat-list-item href="#">Home</a>
  <a mat-list-item href="#">Service</a>
  <a mat-list-item href="#">Contact</a>
</mat-nav-list>

<!--listItem with Icons heading and paragraph-->
<mat-list>
  <mat-list-item>
    <mat-icon matListIcon>home</mat-icon>
    <h3 matLine>Rehman Memon Heading</h3>
    <p matLine>paragraph</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListIcon>folder</mat-icon>
    <h3 matLine>Folder</h3>
    <p matLine>paragraph</p>
  </mat-list-item>
</mat-list>

<!--Divider is used with mat-divider-->
<!--it will show the line btw the items-->
