<mat-accordion  multi="true" hideToggle>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Rehman Memon
      </mat-panel-title>
      <mat-panel-description>
        Rehman is Good Boy!!!!!
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>He have Good Personality So, He is the best.</p>
    <mat-action-row>
      <button mat-button>Enroll Now</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ALi Raza
      </mat-panel-title>
      <mat-panel-description>
        Raza is Bad Boy!!!!!
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>He have Good Personality So, He is the best.</p>
    <mat-action-row>
      <button mat-button>Enroll Now</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
